@font-face{font-family:'MetaWeb-Bold';src:url("http://www.kela.fi/kelafi-theme/css/../fonts/MetaWeb-Bold/MetaWeb-Bold.eot");
src:url("http://www.kela.fi/kelafi-theme/css/../fonts/MetaWeb-Bold/MetaWeb-Bold.eot?#iefix") format("embedded-opentype"),
url("http://www.kela.fi/kelafi-theme/css/../fonts/MetaWeb-Bold/MetaWeb-Bold.woff") format("woff");
font-weight:bold;
font-style:normal
}
@font-face{font-family:'MetaWeb-Normal';
src:url("http://www.kela.fi/kelafi-theme/css/../fonts/MetaWeb-Normal/MetaWeb-Normal.eot");
src:url("http://www.kela.fi/kelafi-theme/css/../fonts/MetaWeb-Normal/MetaWeb-Normal.eot?#iefix") format("embedded-opentype"),
url("http://www.kela.fi/kelafi-theme/css/../fonts/MetaWeb-Normal/MetaWeb-Normal.woff") format("woff");
font-weight:bold;
font-style:normal
}
@font-face{font-family:"kela";
src:url("http://www.kela.fi/kelafi-theme/css/../fonts/KelaWeb/kela.eot");
src:url("http://www.kela.fi/kelafi-theme/css/../fonts/KelaWeb/kela.eot?#iefix") format("embedded-opentype"),
url("http://www.kela.fi/kelafi-theme/css/../fonts/KelaWeb/kela.woff") format("woff"),
url("http://www.kela.fi/kelafi-theme/css/../fonts/KelaWeb/kela.ttf") format("truetype"),
url("http://www.kela.fi/kelafi-theme/css/../fonts/KelaWeb/kela.svg#kela") format("svg");
font-weight:normal;
font-style:normal
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @font-face{font-family:"kela";src:url("http://www.kela.fi/kelafi-theme/css/../fonts/KelaWeb/kela.svg#kela") format("svg")
}
}